.userEmail {
  color: rgb(255, 107, 10);
  margin: 0;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.logoutButton {
  background: transparent;
  border: none;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.logoutButton:hover {
  color: rgb(255, 107, 10);
  border-color: rgb(255, 107, 10);
}

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navigationLink:hover {
  color: rgb(255, 107, 10);
}
